<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ScoreThreshold" value="0.50" />
		<add key="AutoMoveFiles" value="true" />
		<add key="TGPEHFilePath" value="" />
		<add key="TGPFWTFilePath" value="" />
		<add key="TGPRRFilePath" value="" />
		<add key="TGPUNSATFilePath" value="" />
		<add key="GPUNSATFilePath" value="" />
		<add key="GPEICRFilePath" value="" />
		<add key="GPEQSLogPath" value="" />
	</appSettings>	
</configuration>



	